body{
	font-family: 'Montserrat', sans-serif !important;
	overflow-x: hidden;
	.car-row{
		padding-left: 5px;
		padding-right: 3px;
	}
	.title{
		margin-bottom: 20px;
		margin-top: 10px;
		h2{
			text-transform: uppercase;
			font-size: 22px;
			margin-left: 50px;
			margin-bottom: 0px;
    		margin-top: 20px;
			&:before{
				content: "";
			    width: 30px !important;
			    position: absolute;
			    left: 8px;
			    height: 30px;
			    border: 5px solid #ccc;
			}
		}
	}
	header{
		height: 80px;
		padding: 20px 30px;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		z-index: 999;
		h1{
			text-transform: uppercase;
			font-size: 30px;
			font-weight: 300;
			color: #fff;
			margin-left: 50px;
			position: relative;
			@media only screen and( max-width:768px ){
				font-size: 16px;
    			line-height: 41px;
			}
			&:before{
				content: "";
			    width: 30px !important;
			    position: absolute;
			    left: -50px;
    			top: 6px;
			    height: 30px;
			    border: 5px solid #fff;
			}
		}
		a{
			float: right;
			position: absolute;
			right: 30px;
			top: 25px;
			color: white;
			font-size: 25px;
			&:hover{
				color: white;
			}
		}
	}
	.header2{
		background-color: rgba(0,0,0,0.3);
	}
	.side-menu{
		height: 100vh;
		width: 50%;
		position: absolute;
		right: -50%;
		top: 0px;
		background-color: #fff;
		z-index: 9999;
		transition: all 0.6s ease-in-out;
		&.active{
			right: 0%;
		}
		nav{
			height: 100vh;
			position: relative;
			ul{
				margin-top: -20px;
				list-style-type: none;
				height: 100vh;
				li{
					width: 50%;
					height: 40%;
					background-color: #679D9E;
					background-image: url(../images/head.png);
					text-align: right;
					background-repeat: no-repeat;
    				background-position:80% 80%;
    				padding: 50px;
    				float: right;
    				font-size: 30px;
    				font-weight: bold;
    				text-transform: uppercase;
    				a{
    					color: #fff;
    					&:hover{
    						text-decoration: none;
    					}
    				}
					&:first-child{
						background-color: #9E0A17;
						background-image: url(../images/searching-tool.png);
					}
					&:last-child{
						background-color: #F2C276;
						background-image: url(../images/newspaper.png);
					}
					&:nth-child(3){
						background-color: #c4c4c4;
						background-image: url(../images/home.png);
					}
				}
			}
			span{
				color: #222;
				font-size: 50px;
				position: absolute;
				bottom: 40px;
				left: 50px;
				top: inherit;
				cursor: pointer;
			}
		}

	}
	.headerslider{
		position: relative;
		&:after{
			content:"";
			width: 100%;
			height: 100%;
			position: absolute;
			background-color: rgba(0,0,0,0.2);
			z-index: 50;
			top: 0px;
			left: 0px;
		}
		.bx-wrapper{
			.bx-controls-direction{
				a{
					border: 4px solid #fff;
					width: 45px;
					height: 45px;
				}
				.bx-prev{
					z-index: 60;
					left: 10px;
					background: url(../images/arrow-prev.png) no-repeat 11px 10px;
					background-size: 12px 19px;
				}
				.bx-next{
					z-index: 60;
					right: 10px;
					background: url(../images/arrow-next.png) no-repeat 13px 10px;
					background-size: 12px 19px;
				}
			}
			.bx-viewport{
				left: 0px;
				li{
				height: 100vh;
					.bx-caption{
						background: none;
						z-index: 99;
						width: 60%;
						bottom: 100px;
						left: 20%;
						span{
							font-size: 30px;
							padding-left: 0px;

							&:before{
								content: "In evidenza";
								font-size: 45px;
								color: white;
								position: absolute;
	    						top: -55px;
							}
						}
					}
				}
			}
			img{
				height: 100%;
				max-width: none !important;
				width: auto;
			}
			.bx-pager{
				display: none;
			}
		}
	}
	#masthead{
		z-index: 999;
		width: 100%;
		background-color: transparent;
		margin-bottom: 20px;
		&.margined{
			margin-top: -90px;
		}
		@media only screen and(max-width: 768px){
			margin-top: 0px;
		}
		.navigation{
			width: 65%;
			margin-left: 17.5%;
			@media only screen and(max-width: 991px){
				width: 80%;
				margin-left: 10%;
			}
			@media only screen and(max-width: 768px){
				width: calc(100% - 20px);
    			margin-left: 10px;
    		}
			#top-menu{
				@media only screen and(max-width: 768px){
					padding: 0px;
					border: 0px;
					margin-top: 24px;
				}
				li{
					background-color: #679D9E;
					background-image: url(../images/head.png);
					text-align: right;
					background-repeat: no-repeat;
    				background-position:40px;
					&:first-child{
						background-color: #9E0A17;
						background-image: url(../images/searching-tool.png);
						background-position:60px 40px;
						padding: 30px 50px
					}
					&:last-child{
						background-color: #F2C276;
						background-image: url(../images/newspaper.png);
					}
				}
			}
			.main-navigation{
				li{
					width: calc((99% - 20px) / 3);
					margin-right: 10px;
					background-color: #9E0A17;
					color: white;
					padding: 30px;
					text-transform: uppercase;
					@media only screen and(max-width: 768px){
						width: 100%;
						border: 0px;
						margin-bottom: 5px;
					}
					@media only screen and(max-width: 991px){
						padding: 20px;
					}
					&:last-child{
						margin-right: 0px;
					}
					a{
						color: white;
						font-size:20px;
						font-weight: 100;
						@media only screen and(max-width: 991px){
							font-size:14px;
						}
					}
				}
			}
			.menu-toggle{
				text-transform: uppercase;
				font-weight: 100;
				font-size: 16px;
				border: 2px solid #222;
				&:focus{
					outline: none;
				}
			}
		}
	}
	.compact-theme.wp-posts-carousel{
		padding-bottom: 30px;
		.owl-dots{
			top: inherit;
			right: inherit;
			bottom: 5px;
		    width: 100%;
		}
		.wp-posts-carousel-slide{
			padding-top: 0px;
		}
		.wp-posts-carousel-container{
			border: 1px solid #979797 !important;
			padding: 0px !important;
			.wp-posts-carousel-image{
				width: 100% !important;
	    		padding-top: 0px !important;
	    		height: 200px !important;
	    		overflow: hidden;
	    		img{
	    			width: 100% !important;
	    			max-width: none !important;
	    		}
			}
			.wp-posts-carousel-details{
				height: auto;
				overflow: hidden;
				padding: 70px 30px 30px 30px;
				position: relative;
			}
			.wp-posts-carousel-title{
				text-align: left !important;
				font-weight: bold !important;
				height: 64px !important;
				padding: 0px!important;
				overflow: hidden !important;
				font-size: 24px !important;
				&:hover{
					a{
						text-decoration: none;
					}
				}
			}
			.wp-posts-carousel-created-date{
				font-weight: 100;
				font-size: 16px;
			}
			.wp-posts-carousel-desc{
				font-weight: 100;
				font-size: 16px;
				height: 100px;
				overflow: hidden;
				margin-bottom: 0px;
				padding: 0px;
				margin-top:10px;
			}
			.wp-posts-carousel-buttons{
				display: none;
			}
			.wp-posts-carousel-categories{
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				padding: 10px 30px;
			}
		}
	}
	.wpsisac-slick-slider{
		border: 1px solid #979797 !important;
		.slick-image-slide{
			img{
				width: 100%;
			}
			.slide-wrap{
				.slider-content{
					top: inherit !important;
					bottom: -3px;
					width: 100%  !important;
					.slider-short-content{
						position:absolute;
						bottom: 0px;
						left: 0px;
						width: 100%;
						height: 80px;
						background-color: #F7F7F7;
						p{
							font-weight: 100;
	    					font-size: 16px;
	    					display: block;
	    					padding:15px 30px;
	    					max-height: 50px;
	    					overflow: hidden;
							color: black;
							text-align: left;
							text-shadow: 0px;
							text-shadow: 0 0px 0px #000;
							margin-bottom: 0px;
						}
					}
				}
			}
		}
		.slick-prev{
			border: 4px solid #fff !important;
		    width: 45px;
		    height: 45px;
		    left: 20px !important;
		    background: url(../images/arrow-prev.png) no-repeat 11px 10px !important;
		    background-size: 12px 19px;
		    &:hover{
		    	background-color: rgba(255, 255, 255,0.3) !important;
		    	background: url(../images/arrow-prev.png) no-repeat 11px 10px !important;
		    }
		    &:focus{
		    	background-color: rgba(255, 255, 255,0.3) !important;
		    	background: url(../images/arrow-prev.png) no-repeat 11px 10px !important;
		    }
		}
		.slick-next{
			border: 4px solid #fff !important;
		    width: 45px;
		    height: 45px;
		    right: 20px !important;
		    background: url(../images/arrow-next.png) no-repeat 11px 10px !important;
		    background-size: 12px 19px;
		    &:hover{
		    	background-color: rgba(255, 255, 255,0.3) !important;
		    	background: url(../images/arrow-next.png) no-repeat 11px 10px !important;
		    }
		    &:focus{
		    	background-color: rgba(255, 255, 255,0.3) !important;
		    	background: url(../images/arrow-next.png) no-repeat 11px 10px !important;
		    }
		}
	}
	.status-publish{
		.wrap{
			height: 501px !important;
			border: 1px solid #979797 !important;
			padding: 30px !important;
			.today{
				padding: 0px !important;
				p{
					font-weight: 100;
	    			font-size: 24px;
	    			height: 430px;
	    			overflow: hidden;
				}
			}
		}
	}
	.video-homepage{
		margin-bottom: 15px;
		.half{
			border: 1px solid #979797 !important;
			.gallery-media{
				position: relative;
				&:after{
					content:"►";
					font-size: 30px;
					color: #fff;
					position: absolute;	
					top: 40%;
					left: 47%;
				}
			}
			footer{
				padding: 30px;
				.date{
					font-weight: 100;
    				font-size: 16px;
				}
				h2{
				    font-weight: bold !important;
				    height: 64px !important;
				    padding: 0px !important;
				    overflow: hidden !important;
				    font-size: 24px !important;
				    color: #222;
				}
				p{
					font-weight: 100;
    				font-size: 16px;
    				padding: 0px;
    				margin-bottom: 0px;
    				height: 90px;
    				overflow: hidden;
    				color: #222;
				}
			}
			figure{
				margin: 0px;
			}
		}
	}
	.site-content-contain{
		.list-cont{
			margin-top: 40px;
		}
		article{
			header{
				margin-top: -300px;
				h1{
					font-size: 30px !important;
				}
				.byline{
					display: none;
				}
				.posted-on{
					a{
						display: block;
					    position: absolute;
					    top: -45px;
					    left: 0px;
					    color: #fff;
					    font-weight: 100;
					    font-size: 20px;
					    box-shadow: none;
					    @media only screen and ( max-width:768px ){
					    	position: static;
						    color: #222;
						    float: none;
					    }
					    &:hover{
					    	color: #fff;
					    }
					}
				}
			}
			.entry-content{
				font-size: 16px;
				line-height: 28px;
				font-weight: 100;
				a{
					&:hover{
						text-decoration: none;
					}
				}
			}
		}
		.row{
			header{
				&.col-md-12{
					height: auto;
					@media only screen and(max-width: 768px){
						margin-top: 30px;
					}
				}
			}
			.page-title{
				font-size: 30px;
				position: relative;
				&:before{
					content: "";
				    width: 30px !important;
				    position: absolute;
				    left: -50px;
	    			top: 6px;
				    height: 30px;
				    border: 5px solid #222;
				}
			}
			#categories-2{
				position: relative;
				h2{
					font-size: 16px;
					margin-bottom: 10px;
					margin-top: 15px;
				}
				select{
				    border-radius: 0px;
				    border: 2px solid #d2d2d2;
				    -webkit-border-radius: 0px;
				    padding: 14px 15px 15px 15px;
				    -webkit-appearance: none;
				    height: 53px;
				    font-size: 16px;
				    background-color: #fff;
				}
				&:after{
			    	content:"▽";
			    	position: absolute;
			    	right: 15px;
    				bottom: 43px;
			    	font-size: 16px;
			    }
			}
			.content-area{
				article{
					margin-top: 15px;
					border: 1px solid #979797 !important;
					padding: 0px;
					.entry-header{
						margin-top: 0px;
						position: static;
						margin-bottom: 0px;
						height: auto;
						padding: 30px 30px 0px 30px;
						@media only screen and( max-width: 768px ){
							position: static;
						    height: auto;
						    margin-top: 0px;
						    padding: 0;
						}
						.entry-meta{
							a{
								position: static;
								float: none;
								font-weight: 100;
    							font-size: 16px;
    							&:hover{
    								box-shadow: none;
    							}
							}
						}
						.entry-title{
							text-align: left !important;
						    font-weight: bold !important;
						    height: 68px !important;
						    margin: 0;
						    padding: 0px !important;
						    overflow: hidden !important;
						    font-size: 24px !important;
							a{
								position: static;
								color: #222;
    							text-decoration: none;
    							margin-left: 0px;
    							float: none;
							}
						}
					}
					.post-thumbnail{
						margin-bottom: 0px;
						height: 200px;
    					overflow: hidden;
					}
					.entry-content{
						height: 190px;
						overflow: hidden;
						padding: 30px 30px 0px 30px;
						margin-bottom: 30px;
						span, img{
							display: none;
						}
						p{
							&:first-child{
								display: none;
							}

						}
					}
				}
			}
		}
	}
	footer.site-footer{
		background-color: #181818;
	}
}